
 <% javascript_include_tag 'promotions-form' %>

<%# result
<%= @result.inspect %>



<% if @promotion.errors.any? %>
  <div class="alert alert-danger" role="alert">
    Hubo errores al crear el promotion
  </div>
<% end %>

<%= form_with(model: promotion, local: true) do |form| %>
  <%= form.label :name %>
  <br/>
  <%= form.text_field :name, autofocus: true %>
  <%= promotion.errors[:name].join(', ') %>
  <br/>
  <br/>
  <%= form.label :cupon_code %>
  <br/>
  <%= form.number_field :cupon_code %>
  <%= promotion.errors[:cupon_code].join(', ') %>
  <br/>
  <br/>
  <%= form.label :type %>
  <br/>
  <select name="promotion[promotion_type]" id="promotion_promotion_type">
    <option value="0" selected="selected">Discount</option>
    <option value="1">Coupon</option>
  </select>
  <br/>
  <br/>
  <%= form.label :return_value %>
  <br/>
  <%= form.number_field :return_value %>
  <%= promotion.errors[:return_value].join(', ') %>
  <br/>
  <br/>
  <%= form.label :is_percentage %>
  <br/>
  <select name="promotion[is_percentage]" id="promotion_is_percentage">
    <option value="true" selected="selected">Percentage</option>
    <option value="false">Fixed Amount</option>
  </select>
  <br/>
  <br/>
  <%= form.label :active %>
  <br/>
  <select name="promotion[active]" id="promotion_active">
    <option value="true" selected="selected">Active</option>
    <option value="false">Inactive</option>
  </select>
  <br/>
  <br/>
  <%= form.label :condition %>
  <br/>
  <div id="condition0" class="condition">
    <select id="select-condition-type0" class="select-condition-type">
    <option value="primitive">Condicion</option>
    <option value="non-primitive">Subcondiciones</option>
    </select>
    <div id="condition-element0" class="selected-condition"></div>
    </div>
  </div>
  <br/>
  <%= form.text_field :condition ,:readonly => true%>

  <br/>
  <br/>
  <%= form.label :organization_id %>
  <br/>
  <%= form.text_field :organization_id, :value => current_user.organization_id ,:readonly => true %>
  <br/>
  <br/>
  <%= form.submit 'Submit', class: 'submit' %>
<% end %>
