
<%= form_with(url: "/promotions", method: :get, local: true  ) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, autofocus: true %>
  <br/>
  <%= form.label :cupon_code %>
  <%= form.text_field :cupon_code, autofocus: true %>
  <br/>
  <%= form.label :active %>
  <select name="active" id="active">
    <option value="" selected="selected">Any</option>
    <option value="true">Active</option>
    <option value="false">Inactive</option>
  </select>
  <br/>
  <%= form.label :promotion_type %>
  <select name="promotion_type" id="promotion_type">
    <option value="" selected="selected">Any</option>
    <option value="0" >Discount</option>
    <option value="1">Coupon</option>
  </select>
  <br/>
  <%= form.submit 'Submit', class: 'submit btn btn-primary' %>
<% end %>



<h1>Listado de promotions</h1>
<ul>
<% @promotions.each do |promotion| %>
 <div>Code: <%= promotion.cupon_code %></div><br>
 <div>Name: <%= promotion.name %></div><br>
 <div>Type: <%= promotion.promotion_type==0 ? "Discount" : "Coupon"%></div><br>
 <div><%= promotion.active ? "Active" : "Inactive"%></div><br>
    <div>
      <%= link_to 'Promotion Detail', promotion %><br>
      <%= link_to 'Edit', edit_promotion_path(promotion) %><br>
      <%= link_to 'Destroy', promotion,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <hr>
    <br>
<% end %>
</ul>